@font-face {
  font-family: 'ProximaNova-Bold';
  src: url(assets/fonts/proxima/ProximaNova-Bold.otf);
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url(assets/fonts/proxima/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url(assets/fonts/proxima/ProximaNova-RegularIt.otf);
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url(assets/fonts/proxima/ProximaNova-RegularIt.otf);
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url(assets/fonts/proxima/ProximaNova-Light.otf);
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url(assets/fonts/proxima/ProximaNova-LightIt.otf);
}

body {
	padding-top: 81px;
	background-color: #F8F8F8;
	font-family: 'ProximaNova-Regular';
}

.navbar-fixed-top .navbar-brand { 
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
}

.navbar-fixed-top .navbar-right a {
	margin-top: 15px;
}

.navbar-fixed-top .navbar-right {
	padding-right: 30px;
}

.navbar-white {
	background-color: #fff;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
}

.jumbotron h1 {
	text-align: center;
	color: blue;
}

.jumbotron h4 {
	text-align: center;
}

.project-content {
	height: 200px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.5);
}

.project-preview h2 {
	font-family: 'ProximaNova-Bold';
	color: #fff;
	padding: 10px;
	margin: 0;
	text-align: center;
	margin-top: 75px;
}

/*Contact Page*/

input {
	/*margin-top: 20px;*/
	margin-bottom: 20px;
}

textarea {
	/*margin-top: 20px;*/
	margin-bottom: 20px;
}


















